/*
 * Estrangela Dan Benjain Font https://shasso.github.io/sasfonts/earlyaccess/AssyrianEstrangela.css
 */
@font-face {
    font-family: 'AssyrianEstrangela';
    src: url('http://shasso.github.io/sasfonts/ea/v1/AssyrianEstrangela.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}