/*
 * Estrangela Dan Benjain Font https://shasso.github.io/sasfonts/earlyaccess/Assyrian-Estrangela-Dan-Regular.css
 */
@font-face {
    font-family: 'Assyrian Estrangela';
    src: url('http://shasso.github.io/sasfonts/ea/v1/Assyrian Estrangela.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}