/*
 * Estrangelo Marcus Font https://shasso.github.io/sasfonts/earlyaccess/Assyrian-Estrangela-Dan-Regular.css
 */
@font-face {
    font-family: 'Assyrian-Estrangela-Dan-Regular';
    src: url('https://shasso.github.io/sasfonts/ea/v1/assyrian-estrangela-dan-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}